@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}
body {
  @apply bg-n-8 min-h-screen w-full;
}
.form-input {
  @apply flex-1 border-b-n-3 bg-transparent border-b py-2;
}
.btn {
  @apply bg-n-1 text-n-8 hover:text-color-1 font-bold px-4 py-2 rounded-md;
}
